# Игнорируем временные файлы
tmp_data.txt
*.tmp
*.log

# Игнорируем файлы окружения
.env

# Игнорируем кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем дистрибутивы и артефакты сборки
dist/
build/
*.egg-info/

# Игнорируем файлы ОС
.DS_Store
Thumbs.db

# Игнорируем IDE и редакторы
.vscode/
.idea/
*.swp
*.swo
